.Add {
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #dbecf1;
  border-radius: 5px;
  text-align: left;
}


.submit {
  margin-top: 30px;
  text-align: center;
}

.submit input {
  padding: 10px 15px;
  background-color: #FF7F3F;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit input:hover,
.submit input:focus {
  background-color: #35589A;
}

.submit input:disabled {
  opacity: .3;
  background-color: #FF7F3F;
  cursor: not-allowed;
}