.link {
  width: 180px;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7F3F;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link:hover {
  background-color: #35589A;
}

.arrow {
  margin-top: 2px;
}