.Input {
  margin-bottom: 15px;
}

.Input label {
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #35589A;
}

.Input input, .Input textarea, .Input select {
  width: 100%;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.Input span {
  display: block;
  margin-top: 4px;
  color: #e45454;
}

.invalid {
  background-color: #f3c7c7;
  border: 1px solid #e45454;
}